 <lyrics class="lyrics" remove-class-on-angular-load="lyrics">
            <p>[Intro]<br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">Mum mum mum mah<br>
Mum mum mum mah</a><br>
<br>
[Verse 1]<br>
<a href="/2601474/Lady-gaga-poker-face/I-wanna-hold-em-like-they-do-in-texas-please" data-id="2601474" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2601474" classification="accepted" image="false" pending-comments="true">I wanna hold 'em like they do in Texas, please</a><br>
<a href="/2601498/Lady-gaga-poker-face/Fold-em" data-id="2601498" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2601498" classification="accepted" image="false" pending-comments="false">Fold 'em</a>, <a href="/62214/Lady-gaga-poker-face/Let-em-hit-me-raise-it-baby-stay-with-me-i-love-it" data-id="62214" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="62214" classification="accepted" image="false" pending-comments="false">let 'em hit me, raise it; baby, stay with me (I love it)</a><br>
<a href="/38472/Lady-gaga-poker-face/Lovegame-intuition-play-the-cards-with-spades-to-start-and-after-hes-been-hooked-ill-play-the-one-thats-on-his-heart" data-id="38472" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38472" classification="accepted" image="false" pending-comments="false">Lovegame intuition, play the cards with spades to start<br>
And after he's been hooked, I'll play the one that's on his heart</a><br>
<br>
[Pre-Chorus] [2x]<br>
<a href="/2601698/Lady-gaga-poker-face/Oh-oh-oh-oh-oh-oh-oh-oh-oh-oh-oh-ill-get-him-hot-show-him-what-ive-got" data-id="2601698" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2601698" classification="accepted" image="false" pending-comments="false">Oh, oh-oh, oh, oh<br>
Oh oh oh oh, oh oh<br>
I'll get him hot, show him what I've got</a><br>
<br>
[Chorus] [2x]<br>
<a href="/1878825/Lady-gaga-poker-face/Cant-read-my-cant-read-my-no-he-cant-read-my-poker-face" data-id="1878825" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878825" classification="accepted" image="false" pending-comments="true">Can't read my, can't read my<br>
No he can't read my poker face</a><br>
<a href="/1878828/Lady-gaga-poker-face/Shes-got-me-like-nobody" data-id="1878828" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878828" classification="accepted" image="false" pending-comments="false">(She’s got me like nobody)</a><br>
<br>
[Post-Chorus]<br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a><br>
<br>
[Verse 2]<br>
<a href="/336012/Lady-gaga-poker-face/I-wanna-roll-with-him-a-hard-pair-we-will-be-a-little-gambling-is-fun-when-youre-with-me" data-id="336012" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="336012" classification="accepted" image="false" pending-comments="false">I wanna roll with him, a hard pair we will be<br>
A little gambling is fun when you're with me</a> (I love it)<br>
<a href="/38601/Lady-gaga-poker-face/Russian-roulette-is-not-the-same-without-a-gun" data-id="38601" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38601" classification="accepted" image="false" pending-comments="true">Russian roulette is not the same without a gun</a><br>
<a href="/7509646/Lady-gaga-poker-face/And-baby-when-its-love-if-its-not-rough-it-isnt-fun-fun" data-id="7509646" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="7509646" classification="accepted" image="false" pending-comments="false">And baby, when it's love, if it's not rough, it isn't fun (fun)</a><br>
<br>
[Pre-Chorus] [2x]<br>
<a href="/2601698/Lady-gaga-poker-face/Oh-oh-oh-oh-oh-oh-oh-oh-oh-oh-oh-ill-get-him-hot-show-him-what-ive-got" data-id="2601698" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2601698" classification="accepted" image="false" pending-comments="false">Oh, oh-oh, oh, oh<br>
Oh oh oh oh, oh oh<br>
I'll get him hot, show him what I've got</a><br>
<br>
[Chorus] [2x]<br>
<a href="/1878825/Lady-gaga-poker-face/Cant-read-my-cant-read-my-no-he-cant-read-my-poker-face" data-id="1878825" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878825" classification="accepted" image="false" pending-comments="true">Can't read my, can't read my<br>
No he can't read my poker face</a><br>
<a href="/1878828/Lady-gaga-poker-face/Shes-got-me-like-nobody" data-id="1878828" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878828" classification="accepted" image="false" pending-comments="false">(She’s got me like nobody)</a><br>
<br>
[Post-Chorus] [2x]<br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a><br>
<br>
[Bridge]<br>
<a href="/886060/Lady-gaga-poker-face/I-wont-tell-you-that-i-love-you-kiss-or-hug-you" data-id="886060" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="886060" classification="accepted" image="false" pending-comments="false">I won't tell you that I love you<br>
Kiss or hug you</a><br>
<a href="/53329/Lady-gaga-poker-face/Cause-im-bluffin-with-my-muffin-im-not-lying-im-just-stunnin-with-my-love-glue-gunnin" data-id="53329" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="53329" classification="accepted" image="false" pending-comments="true">’Cause I'm bluffin' with my muffin<br>
I'm not lying, I'm just stunnin' with my love-glue-gunnin'</a><br>
<a href="/886062/Lady-gaga-poker-face/Just-like-a-chick-in-the-casino-take-your-bank-before-i-pay-you-out-i-promise-this-promise-this" data-id="886062" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="886062" classification="accepted" image="false" pending-comments="false">Just like a chick in the casino<br>
Take your bank before I pay you out<br>
I promise this, promise this</a><br>
<a href="/62216/Lady-gaga-poker-face/Check-this-hand-cause-im-marvelous" data-id="62216" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="62216" classification="accepted" image="false" pending-comments="false">Check this hand ’cause I'm marvelous</a><br>
<br>
[Chorus] [6x]<br>
<a href="/1878825/Lady-gaga-poker-face/Cant-read-my-cant-read-my-no-he-cant-read-my-poker-face" data-id="1878825" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878825" classification="accepted" image="false" pending-comments="true">Can't read my, can't read my<br>
No he can't read my poker face</a><br>
<a href="/1878828/Lady-gaga-poker-face/Shes-got-me-like-nobody" data-id="1878828" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878828" classification="accepted" image="false" pending-comments="false">(She’s got me like nobody)</a><br>
<br>
[Post-Chorus - Variation]<br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face<br>
Po-po-po-poker face, po-po-poker face</a><br>
<a href="/1878828/Lady-gaga-poker-face/Shes-got-me-like-nobody" data-id="1878828" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="1878828" classification="accepted" image="false" pending-comments="false">(She’s got me like nobody)</a><br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a><br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a><br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a><br>
<a href="/2620243/Lady-gaga-poker-face/Po-po-po-poker-face-po-po-poker-face" data-id="2620243" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="2620243" classification="accepted" image="false" pending-comments="true">Po-po-po-poker face, po-po-poker face</a><br>
<a href="/38600/Lady-gaga-poker-face/Mum-mum-mum-mah-mum-mum-mum-mah" data-id="38600" class="referent" ng-click="open()" prevent-default-click="" annotation-fragment="38600" classification="accepted" image="false" pending-comments="false">(Mum mum mum mah)</a></p>


          </lyrics>

          
