<!DOCTYPE html>
<html ng-app="LyricPic" lang="en">
<head>
  <meta charset="UTF-8">
  <title>LyricPicSpike</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  <style>
    #left {
      float: left;
      width: 40vw;
    }
    #right {
      float: right;
      width: 40vw;
    }
  </style>
</head>
<body>
  <div ng-controller="main">
    <form ng-submit="getLyrics()">
      <input type="text" ng-model="searchArtist" placeholder="..artist">
      <input type="text" ng-model="searchSong" placeholder="..song">
      <button type="submit">Search!</button>
    </form>
    <div id="left">
    <div  ng-repeat="line in lines" class="lyric-lines">
      <h5>{{line}}</h5>
    </div>
    </div>
    <div id="right">
    <div  ng-repeat='pic in pics track by $index'>
      <img ng-src="{{pic}}" alt="">
    </div>
    </div>

  </div>
</body>
</html>
